PORT=4000
WEB_ORIGIN=http://localhost:3000
# Local MongoDB:
MONGODB_URI=mongodb+srv://kalpavruksha_user:kalpavruksha@development.xbya4jz.mongodb.net/kalpavruksha-dashboard?retryWrites=true&w=majority&appName=development

# MongoDB Atlas format:
# MONGODB_URI=mongodb+srv://<db-user>:<db-password>@<cluster-host>/kalpavruksha-dashboard?retryWrites=true&w=majority&appName=kalpavruksha-dashboard
JWT_SECRET=replace-this-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
